<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WSR2020.Properties.Settings.WSR2020ConnectionString"
            connectionString="Data Source=DESKTOP-00BHIKN\SQLEXPRESS;Initial Catalog=WSR2020;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>